USE [master]
GO
/****** Object:  Database [SQLSERVER]    Script Date: 1/22/2026 3:45:27 PM ******/
CREATE DATABASE [SQLSERVER]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SQLSERVER', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\SQLSERVER.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SQLSERVER_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\SQLSERVER_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SQLSERVER].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SQLSERVER]
GO
/****** Object:  Table [dbo].[SuccessTransactions]    Script Date: 1/22/2026 3:45:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SuccessTransactions](
	[TransactionId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[TransactionDate] [date] NOT NULL,
	[Amount] [decimal](10, 2) NOT NULL,
	[Status] [varchar](20) NOT NULL,
	[PaymentType] [varchar](20) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transactions]    Script Date: 1/22/2026 3:45:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transactions](
	[TransactionId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[TransactionDate] [date] NOT NULL,
	[Amount] [decimal](10, 2) NOT NULL,
	[Status] [varchar](20) NOT NULL,
	[PaymentType] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TransactionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 1/22/2026 3:45:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] NOT NULL,
	[FullName] [varchar](100) NOT NULL,
	[City] [varchar](50) NOT NULL,
	[UserType] [varchar](20) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[JoinedOn] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[SuccessTransactions] ([TransactionId], [UserId], [TransactionDate], [Amount], [Status], [PaymentType]) VALUES (7001, 201, CAST(N'2026-01-08' AS Date), CAST(1800.00 AS Decimal(10, 2)), N'Success', N'UPI')
INSERT [dbo].[SuccessTransactions] ([TransactionId], [UserId], [TransactionDate], [Amount], [Status], [PaymentType]) VALUES (7003, 202, CAST(N'2026-01-03' AS Date), CAST(8200.00 AS Decimal(10, 2)), N'Success', N'NetBanking')
INSERT [dbo].[SuccessTransactions] ([TransactionId], [UserId], [TransactionDate], [Amount], [Status], [PaymentType]) VALUES (7005, 205, CAST(N'2026-01-19' AS Date), CAST(3600.00 AS Decimal(10, 2)), N'Success', N'UPI')
GO
INSERT [dbo].[Transactions] ([TransactionId], [UserId], [TransactionDate], [Amount], [Status], [PaymentType]) VALUES (7001, 201, CAST(N'2026-01-08' AS Date), CAST(1800.00 AS Decimal(10, 2)), N'Success', N'UPI')
INSERT [dbo].[Transactions] ([TransactionId], [UserId], [TransactionDate], [Amount], [Status], [PaymentType]) VALUES (7002, 201, CAST(N'2026-01-14' AS Date), CAST(600.00 AS Decimal(10, 2)), N'Pending', N'Card')
INSERT [dbo].[Transactions] ([TransactionId], [UserId], [TransactionDate], [Amount], [Status], [PaymentType]) VALUES (7003, 202, CAST(N'2026-01-03' AS Date), CAST(8200.00 AS Decimal(10, 2)), N'Success', N'NetBanking')
GO
INSERT [dbo].[Users] ([UserId], [FullName], [City], [UserType], [IsActive], [JoinedOn]) VALUES (201, N'Rahul Verma', N'Mumbai', N'Individual', 1, CAST(N'2025-08-12' AS Date))
INSERT [dbo].[Users] ([UserId], [FullName], [City], [UserType], [IsActive], [JoinedOn]) VALUES (202, N'Sneha Iyer', N'Mumbai', N'Business', 1, CAST(N'2025-06-25' AS Date))
INSERT [dbo].[Users] ([UserId], [FullName], [City], [UserType], [IsActive], [JoinedOn]) VALUES (203, N'Aman Khanna', N'Mumbai', N'Individual', 1, CAST(N'2025-07-10' AS Date))
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD  CONSTRAINT [FK_Transactions_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Transactions] CHECK CONSTRAINT [FK_Transactions_Users]
GO
/****** Object:  StoredProcedure [dbo].[SP_Customer]    Script Date: 1/22/2026 3:45:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*Alter Procedure Day25Clauses
@City Varchar(100)
As 
Begin
Select * From Users Where City = @City
End
Go

EXEC Day25Clauses 'Delhi'*/

Create Procedure [dbo].[SP_Customer]
@FullName Varchar(100),
@City Varchar(100)
As
Begin
Select * From Users Where FullName = @FullName And City = @City
End
GO
/****** Object:  StoredProcedure [dbo].[SP_INSERTIONS]    Script Date: 1/22/2026 3:45:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*Alter Procedure Day25Clauses
@City Varchar(100)
As 
Begin
Select * From Users Where City = @City
End
Go

EXEC Day25Clauses 'Delhi'

Create Procedure SP_Customer
@FullName Varchar(100), @City Varchar(100)
As
Begin
Select * From Users Where FullName = @FullName And City = @City
End
Go

EXEC SP_Customer 'Rahul Verma', 'Pune'*/

CREATE Procedure [dbo].[SP_INSERTIONS]
@City Varchar(100), @IsActive Int
As
Begin
Update Users Set City = @City Where IsActive = @IsActive
End
GO
USE [master]
GO


/*
=========================================================
Stored Procedures Practice – SQL Server
Description:
1) SP_Customer   → Fetch users based on name and city
2) SP_INSERTIONS → Update city for active/inactive users
=========================================================
*/


/*========================================================
  STORED PROCEDURE 1: FETCH CUSTOMER DETAILS
========================================================*/

-- Create a stored procedure to fetch user details
-- based on FullName and City
CREATE PROCEDURE SP_Customer
    @FullName VARCHAR(100),   -- Input parameter: User full name
    @City     VARCHAR(100)    -- Input parameter: User city
AS
BEGIN
    -- Select matching user records
    SELECT *
    FROM Users
    WHERE FullName = @FullName
      AND City = @City;
END;
GO


-- Execute the stored procedure
-- This will return details of Rahul Verma from Pune
EXEC SP_Customer 'Rahul Verma', 'Pune';
GO


/*========================================================
  STORED PROCEDURE 2: UPDATE USER CITY
========================================================*/

-- Alter (modify) stored procedure to update city
-- for users based on active status
ALTER PROCEDURE SP_INSERTIONS
    @City     VARCHAR(100),   -- New city value
    @IsActive INT             -- 1 = Active users, 0 = Inactive users
AS
BEGIN
    -- Update city for users matching the IsActive status
    UPDATE Users
    SET City = @City
    WHERE IsActive = @IsActive;
END;
GO


-- Execute the stored procedure
-- This updates city to Mumbai for all active users
EXEC SP_INSERTIONS 'Mumbai', 1;
GO
